<md-input-container>
  <label>Page Size</label>
<input type="number" min=4 max=8 ng-model="pageSize" id="pageSize">
</md-input-container>
<md-button type="button" ng-click="paging(1)" id="filter">Apply</md-button>
<md-input-container>
  <label>Filter By</label>
<md-select ng-model="propertyValue">
  <md-option value="year">Year</md-option>
  <md-option value="under">Under $500</md-option>
  <md-option value="over">Over $500</md-option>
</md-select>
</md-input-container>
<md-input-container>
<label>Enter Value To Apply Greater Than Filter</label>
<input type="text" ng-model="apply_constraint" id="filterInput">
</md-input-container>
<md-button ng-click="Above()" id="filter" >Apply Filter</md-button>
